### Testing the text module in Mozilla Deep Speech

By Vikram Reddy

4/17/17

In [17]:
# Imports
import numpy as np

In [3]:
path = 'mydata/1970-28415-0023.txt'
def normalize_text(filename):
    ''' 
    Simple text preprocessing:
    Remove apostrophes, and make lowercase
    '''
    with open(filename, 'r') as fin:
        text = fin.readlines()[0]
    text = text.replace('\'', '')
    return text.lower()

normalize_text(path)

'where people were making their gifts to god'

In [4]:
# Constants
SPACE_TOKEN = '<space>'
SPACE_INDEX = 0
FIRST_INDEX = ord('a') - 1 # 0 is reserved for the space

In [5]:
FIRST_INDEX

96

In [33]:
def text_to_char_array(text):
    # Create a list of words in a sentence with spaces replaced with '' in the list
    result = text.replace(' ', '  ')
    result = result.split(' ')
    
    # Tokenize words into letters adding in SPACE_TOKEN where required
    result = np.hstack([SPACE_TOKEN if word == '' else list(word) for word in result])
    print(result)
    # Map characters to indices
    result = [SPACE_INDEX if token == SPACE_TOKEN else ord(token) - FIRST_INDEX for token in result]
    result = np.asarray(result)
    return result

lst = text_to_char_array('hi how are you')
lst

['h' 'i' '<space>' 'h' 'o' 'w' '<space>' 'a' 'r' 'e' '<space>' 'y' 'o' 'u']

array([ 8,  9,  0,  8, 15, 23,  0,  1, 18,  5,  0, 25, 15, 21])

In [13]:
s = 'hi  how are you'.split(' ')

In [15]:
letters = [SPACE_TOKEN if x == '' else list(x) for x in lst]
letters

[['h', 'i'],
 '<space>',
 ['h', 'o', 'w'],
 '<space>',
 ['a', 'r', 'e'],
 '<space>',
 ['y', 'o', 'u']]

In [29]:
arr = np.hstack(letters)
arr

array(['h', 'i', '<space>', 'h', 'o', 'w', '<space>', 'a', 'r', 'e',
       '<space>', 'y', 'o', 'u'],
      dtype='<U7')

In [27]:
[SPACE_INDEX if token == SPACE_TOKEN else ord(token) - FIRST_INDEX for token in arr]

[8, 9, 0, 8, 15, 23, 0, 1, 18, 5, 0, 25, 15, 21]

In [35]:
def sparse_tuple_from(sequences, dtype=np.int32):
    pass